<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="OAuthConnection" connectionString="url=https://orgec9e9948.crm4.dynamics.com; username=fquzaih@firasquopeopletraining2021.onmicrosoft.com; password=A123456!!; authtype=OAuth; AppId=ac269d09-7bd4-49c4-af21-c6e8e0f87de9 ; loginPrompt = Auto;reDirectURI=https://localhost" />
</connectionStrings>